.fa-check:before {
    font-family: $iconFontFamily !important;
    content: "check" !important;
}

.fa-chevron-right:before {
    font-family: $iconFontFamily !important;
    content: "chevron_right" !important;
}
