<div class="layout-footer clearfix">
    <div class="ui-g">
      <div class="ui-g-4 footer-logo-wrapper">
        <div>
          <img src="assets/layout/images/logo-footer.png" alt="">
        </div>
        <div>
          <div class="footer-title">HOTLINE</div>
          <ul class="footer-list">
            <li><a href="tel: 609-049-000"><i class="fas fa-phone"></i> 609-049-000</a></li>
            <li><a href="mailto: placówka@creditagricole.pl"><i class="fa fa-envelope-open"></i>placówka@creditagricole.pl</a></li>
          </ul>
        </div>
      </div>
      <div class="ui-g-8 text-right">
        <button pButton type="button" label="Baza Wiedzy" class="footer-btn"></button>
        <button pButton type="button" label="Lorem ipsum" class="footer-btn"></button>
        <button pButton type="button" label="Lorem ipsum" class="footer-btn"></button>
      </div>
    </div>
  </div>
  